#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens192 --ipv6=auto --activate
network  --hostname=centos7.local.lan

# Root password
rootpw --iscrypted $6$uoBNU/KA7m5Kunb3$6fC2jPpZ7SLacd.mcPCYQhqR.k6egh12PoHY700EptjUamFQ7NcycEvTCDaXBbmR1RHJQ8DwKXL567q8WoYm.1
# System services
services --enabled="chronyd"
# System timezone
timezone America/Los_Angeles --isUtc --ntpservers=2.centos.pool.ntp.org,2.centos.pool.ntp.org,2.centos.pool.ntp.org,2.centos.pool.ntp.org
user --groups=wheel --name=eingram --password=$6$kMOUgi3EvlF7eku5$me4rDv1zKWfc3AGMw/cexkbZ1PDhWDoEzPdi9TNaAXyzrK4DUw3OpWOyoqcWPNauIhjbNmcMayXa/MJ5a77Gs1 --iscrypted --gecos="Edward Ingram"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part pv.350 --fstype="lvmpv" --ondisk=sda --size=60415
part /boot --fstype="xfs" --ondisk=sda --size=1024
volgroup centos --pesize=4096 pv.350
logvol /home  --fstype="xfs" --size=10320 --name=home --vgname=centos
logvol /  --fstype="xfs" --size=46120 --name=root --vgname=centos
logvol swap  --fstype="swap" --size=3968 --name=swap --vgname=centos

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

# Reboot after installation
reboot